<p style="color: green"><%= notice %></p>


<div class="h100 p-5 bg-light rounded-3">
<h1><%= t('links.coins')%></h1>
  <div id="coins">
  
    <% @coins.each do |coin| %>
      <%= render coin %>
    <% end %>
  </div>
  
</div>

<%= link_to t('links.new'), new_coin_path %> |
<%= link_to t('links.home'), welcome_index_path %>
